doctype html

- var prism = "1.21.0" //- select from https://cdnjs.com/libraries/prism

html(lang="en")

    head

        title #{page.title} #{page.title && project.name ? " | " : ""} #{project.name}

        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

        link(rel="shortcut icon" href="!{page.base}/index.svg")

        //- prism.js code highlighting

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/!{prism}/themes/prism.min.css")

        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/!{prism}/components/prism-core.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/!{prism}/plugins/autoloader/prism-autoloader.min.js")

        //- default stylesheet (at last to override prism.js)

        link(rel="stylesheet" type="text/css" href="!{page.base}/index.css")

    body

        //- hidden menu toggle for mobile view

        input(id="toggle" type="checkbox")

        nav

            header

                include ../includes/header

                //- icon dynamically managed by default.css

                label(for="toggle" class="icon")

            section

                if page.title && page.path != "index.html"
                    a(class="title" href="#_top") #{page.title}

                for heading in page.headings
                    #{"h"+heading.level}
                        a(href="##{heading.anchorRefId}") #{heading.anchorRefText}

        main

            header(id="_top") #{page.title}

            section !{page.content}

            footer

                include ../includes/footer

        script(type="text/javascript" src="!{page.base}/index.js")
