doctype html

html(lang="en")

    head

        title #{page.title} #{page.title && project.name ? " | " : ""} #{project.name}

        meta(name="description" content="{{ page.excerpt | strip_html }}")
        meta(name="copyright" content="{{ copyright }}")

        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")

        link(rel="shortcut icon" href="!{page.base}/assets/icons/logo.ico")

        link(rel="stylesheet" type="text/css" href="!{page.base}/assets/default.css")
        link(rel="stylesheet" type="text/css" href="!{page.base}/assets/github.css")

    body

        //- hidden menu toggle for mobile view

        input(id="toggle" type="checkbox")

        nav

            header

                a(class="logo" href="https://www.metreeca.com/")

                span
                    a(href=".") !{project.name}
                    | /
                    !{project.version}

                //- icon dynamically managed by default.css

                label(for="toggle" class="icon")

            section

                a(class="title" href="#_top") #{page.title}

                for heading in page.headings
                    #{"h"+heading.level}
                        a(href="##{heading.anchorRefId}") #{heading.anchorRefText}

        main

            header(id="_top") #{page.title}

            section !{page.content}

            footer
                include includes/copyright.jade

        script(type="text/javascript" src="!{page.base}/assets/default.js")
