doctype html

html(lang="en")

	head

		title Redirecting… (#{project.name ? " | " : ""}) #{project.name}

		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(http-equiv="Refresh" content="0; url=!{page.canonical}")

		link(rel="shortcut icon" href="#{page.root}/index.svg")
		link(rel="canonical" href="!{page.canonical}")
